In [115]:
import pandas as pd
import numpy as np
from nba_api.stats.static import teams

In [116]:
teams = teams.get_teams()
team_id= []
team_names= []
# print(teams)
i = 0
# for i in range(len(colors)):
#     print(colors[i])
# for i in teams:
#     team_id.append('id':"")
#     print(team_id) 
    

    
for row in teams:  
    team_id.append(teams[i]['id'])
    team_names.append(teams[i]['full_name'])
    i+=1
    
teams_df = pd.DataFrame(team_id,team_names)

In [117]:
teams_df

                                 0
Atlanta Hawks           1610612737
Boston Celtics          1610612738
Cleveland Cavaliers     1610612739
New Orleans Pelicans    1610612740
Chicago Bulls           1610612741
Dallas Mavericks        1610612742
Denver Nuggets          1610612743
Golden State Warriors   1610612744
Houston Rockets         1610612745
Los Angeles Clippers    1610612746
Los Angeles Lakers      1610612747
Miami Heat              1610612748
Milwaukee Bucks         1610612749
Minnesota Timberwolves  1610612750
Brooklyn Nets           1610612751
New York Knicks         1610612752
Orlando Magic           1610612753
Indiana Pacers          1610612754
Philadelphia 76ers      1610612755
Phoenix Suns            1610612756
Portland Trail Blazers  1610612757
Sacramento Kings        1610612758
San Antonio Spurs       1610612759
Oklahoma City Thunder   1610612760
Toronto Raptors         1610612761
Utah Jazz               1610612762
Memphis Grizzlies       1610612763
Washington Wizards      1610612764
Detroit Pistons         1610612765
Charlotte Hornets       1610612766

ValueError: DataFrame constructor not properly called!

In [ ]:
for teams

counter = 0

for index, row in weather_df.iterrows():